.undefined {
    background: rgba(255, 255, 255, 0.1);
}

.table-responsive {
    border: none;
    border-radius: 4px;
    margin-left: 290px;
    margin-left: 290px;
    margin-top: 70px;
    margin-right: 70px;
}

.card-body {
    background-color: #2D353C;
    padding: 20px;
}

.form-control {
    color: var(--app-component-color);
    background-color: var(--app-component-bg);
    border-color: var(--app-component-border-color);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
}

.form-control:focus {
    color: var(--app-component-color);
    background-color: var(--app-component-bg);
    border-color: #67abe9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(52 143 226 / 25%);
}