.grid__user__product {
    display: grid;
    grid-template-columns: 223 280 253 210 245 210 224;
    background-color: #2D353C;
    padding-top: 10px;
    place-items: center;
}

.grid-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.grid-picproduct {
    width: 85px;
    border-radius: 4px;
}